[submodule "js/vendor/underscore"]
	path = js/vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "js/vendor/backbone"]
	path = js/vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "js/vendor/imjs"]
	path = js/vendor/imjs
	url = git://github.com/alexkalderimis/imjs.git
[submodule "js/vendor/imtables"]
	path = js/vendor/imtables
	url = git://github.com/alexkalderimis/im-tables.git
